.green{
	color:#2D8B2D;
}
.lemon{
	color:#11B113;
}
.blue{
	color:#312FCC;
}
.red{
	color:#C64727;
}
.margen-izquierdo-1em{
	margin-left:1em; 
}

.searchNavBar {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.panel-fill {
	max-height: 96% !important;
	height: 100% !important;
}

.panel-fill-86 {
	max-height: 86% !important;
	height: 100% !important;
}

.height05em{
    min-height: 0.5em !important;
    height: 0.5em !important;
    max-height: 0.5em !important;
}
.todoloAncho{
    width: 100% !important;
}