.green{
	color:#2D8B2D;
}
.lemon{
	color:#11B113;
}
.blue{
	color:#312FCC;
}
.red{
	color:#C64727;
}
.margen-izquierdo-1em{
	margin-left:1em; 
}

.searchNavBar {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100%
input[name='search']:focus {
	width: 100%;
}
*/